@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer components {
  .card-shadow {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  }

  .small-caps {
    font-variant: small-caps;
  }
}

